.social-box {
	clear: both;
}

.social-box img {
	height: 25px;
	margin-right: 10px;
	width: auto;
}

 .social-container {
	float: left;

}

#fb-button, #twitter-button, #gplus-button, #in-button {
	display:none;
}


#fb-button {
	float:right;
	margin-left:-6px;
	margin-right:10px;
	margin-top:3px;

}

#twitter-button {
	float:right;
	margin-left:-6px;
	margin-right:10px;
	margin-top:3px;
}

#gplus-button	{
	float:right;
	margin-left:-6px;
	margin-right:-20px;
	margin-top:3px;
}

#in-button {
	float:right;
	margin-left:-6px;
	margin-right:10px;
	margin-top:3px;
}


